<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/EEAT/Git"
            factory-class="org.eeat.knime.git.issueprinter.IssuePrinterNodeFactory"
            id="org.IssuePrinter.IssuePrinterNodeFactory"/>
   </extension>
   
</plugin>
