<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/EEAT"
            expert-flag="false"
            factory-class="org.eeat.knime.motif.MaxMotifNodeFactory"
            id="org.eeat.knime.motif.MaxMotifNodeModel">
      </node>
   </extension>
</plugin>
