<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="console"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         	thread="any">
         <run
               class="org.eeat.repository.drools.Activator">
         </run>
      </application>
   </extension>

</plugin>
