<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/EEAT"
            factory-class="org.eeat.knime.google.bigquery.node.MyBigQueryNodeFactory"
            id="org.eeat.knime.google.bigquery.node.MyBigQueryNodeFactory"/>
   </extension>
   
</plugin>
