<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Git"
            icon="github.png"
            level-id="Git"
            name="Git"
            path="/EEAT/">
      </category>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/EEAT/Git"
            factory-class="org.eeat.knime.git.commentprinter.CommentPrinterNodeFactory"
            id="org.commentprinter.CommentPrinterNodeFactory"/>
   </extension>
   
</plugin>
